<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Forum</title>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <div display="block" style="float: left; margin-left: 10%;">
            @Html.ActionLink("Главная", "Index", "Home")
            &nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Список пользователей", "UsersList", "Home")
        </div>
        <div display="block" style="float: right; margin-right: 10%";>
            @Html.ActionLink("Регистрация", "Registration", "Home")
            &nbsp;&nbsp;&nbsp;
            @{if (!User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Вход", "LogIn", "Account")
                }
                else
                {
                    @Html.ActionLink("Выход", "LogOut", "Account")
                }
             }
        </div>
    </div>
    <br/><br />
    <div class="container body-content"> 
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Forum</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>