@model  List<MessagesViewModel>
@using ForumWEB.Models
@{
    ViewBag.Title = ViewBag.TopicName;
    MessagesViewModel newMessage = new MessagesViewModel();
}

@Html.Action("MessagesList", new {TopicID = ViewBag.TopicID })

<table >
    <tbody>
        <tr >
            <td colspan="3" class="user">
                <font class="text">После отправки ваше сообщение отправится на модерацию. Оно появится в теме, как только будет одобрено администратором.</font>
            </td>
        </tr>
        <tr >
            <td width=25% class="user">
                @if (User.IsInRole("Administrator") || User.IsInRole("Ban") || User.IsInRole("User"))
                {
                    <div>
                        <b><font class="text">@ViewBag.Name</font></b><br /><br />
                        <div><img src="@ViewBag.Avatar" width="120" height="120"></div><br />
                        <div>@Html.ActionLink("Изменить аватар", "ChangeAvatar", "Home", new { UserID = ViewBag.UserID }, null)</div>
                    </div>}
                else
                {
                    <div>
                        <b><font class="text">Гость</font></b><br /><br />
                        <div><img src="http://mydermatolog.ru/sites/default/files/pictures/userdef.jpg" width="120" height="120"></div>
                    </div>}
            </td>
            <td>
                <div class="textbox">
                    <form action="/Home/Topic" method="post">
                            <div>
                                <font class="text">Сообщение:</font>
                            </div>
                            @if (User.IsInRole("Administrator") || (User.IsInRole("User")))
                            {
                                <input type="hidden" name="TopicID" value="@ViewBag.TopicID">
                                <input type="hidden" name="UserID" value="@ViewBag.UserID">
                                <div>
                                    <textarea name="Text" cols="56" rows="8" ></textarea>
                                </div>
                                <p>
                                    <input type="submit" value="Отправить" />
                                </p>}
                            else
                            {
                                <div>
                                    @if (User.IsInRole("Ban"))
                                    {
                                        <textarea name="TopicText" cols="56" rows="8" disabled
                                                  placeholder="Ваш  аккаунт забанен и вы не можете оставлять сообщеня на форуме."></textarea>}
                                    else
                                    {
                                        <textarea name="Text" cols="56" rows="8" disabled
                                                  placeholder="Вы не можете оставлять сообщения на форуме. Войдте или зарегистрируйтесь."></textarea>
                                    }
                                </div>
                                <p>
                                    <input type="submit" value="Отправить" disabled />
                                </p>}
                       </form>
                </div>
            </td>
            <td width=25%>
                <div>
                    @using (Html.BeginForm())
                    {
                        <font class="text">
                            @Html.ValidationSummary()
                        </font>}
                </div>
            </td>
        </tr>
    </tbody>
</table>